
ul{
    list-style: none;
    color: white;
    text-align: center;
}
span{
    width: 10px;
    margin-left: 100px;
}
.container{
    color: white;
}
#input_box{
  margin-left: 250px;
  width: 30%;
}
.btn{
  width: 100px;
}
