<!DOCTYPE html>
<html>
<head>
  <title>MongoDB Data</title>
</head>
<body>
  <h1>Data from MongoDB</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>location</th>
      <th>description</th>
    </tr>
    {{#each data}}
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.location}}</td>
      <td>{{this.description}}</td>
    </tr>
    {{/each}}
  </table>


  
</body>
</html>
